

.login-frm {
  width: 50%;
    min-width: 450px;
    display: table;
    margin: 0 auto;
}

.main-content {
  padding: 10px
}

.card-body .card-row .title {
  width: 50px;
}
.card-body .card-row span {
  font-weight: bold;
}
.card-body .fa-bitcoin {
  color: #D4AF37;
}
